<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top bg-primary" [containerInside]="true">
  

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" (click)='goToHome()'>Home</a></mdb-navbar-brand>
       
      
        <!-- Collapsible content -->
        <links>
      
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link waves-light" (click)='goToContact()' mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span></a>
            </li>
            
            
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                 Profile<span class="caret"></span></a>
              
              <div *dropdownMenu class="dropdown-menu dropdown-menu-left dropdown dropdown-primary" role="menu" >
                <a class="dropdown-item waves-light" mdbWavesEffect (click)="toggleLogIn()">{{ loginOperation }}</a>
              </div>
            </li>

            <!-- Avatar Image -->
            <li class="nav-item avatar">
                <a class="nav-link p-0" >
                  <img src={{photoUrl}} class="rounded-circle z-depth-0"
                    alt='' height="35">
                </a>
              </li>

              
      
          </ul>
          <!-- Links -->
        </links>
        <!-- Collapsible content -->


        <ul class="navbar-nav ml-auto nav-flex-icons">
          
        </ul>
      
</mdb-navbar>
<!--/.Navbar-->


      

      