

  .btn-group{
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .card{
    cursor: pointer;
  }
  

  .container{
    padding-bottom: 100px;

  }

  @media only screen and (max-width: 768px) {
    .btn-group{
      padding-top: 10px;
      padding-bottom: 20px
    }
}