// .btn-info {
//     font-family: Raleway-SemiBold;
//     font-size: 13px;
//     color: rgba(177, 224, 238, 0.75);
//     letter-spacing: 1px;
//     line-height: 15px;
//     border: 2px solid rgba(91, 192, 222, 0.75);
//     border-radius: 40px;
//     background: transparent;
//     transition: all 0.3s ease 0s;
//   }
  

  // border-radius: 2px;

  .btn-outline-info{
  border-radius: 2px;
  

  }

  .btn-group{
    padding-top: 20px;
    padding-bottom: 50px
  }

  .card{
    cursor: pointer;
  }
  
  